@model IEnumerable<ShiphrahAndPuahMBS.Models.ResponseUser>

@{
    ViewData["Title"] = "Help Seekers List ";
}

<h1>All Help Seekers</h1>



    <table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                <label class="control-label">Serial No</label>
            </th>
            <th scope="col">
                 <label class="control-label">Employee Name</label>
            </th>
            <th scope="col"> <label class="control-label">Uploaded Files</label></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
        }
        @foreach (var item in Model) {
        <tr>
             <th scope="row">@count</th>
            <td>
                @Html.DisplayFor(modelItem => item.Full_Name)
            </td>
           
            <td>
               
                <div class="form-group">
                @Html.ActionLink("Download", "downloadFiles", new {  Full_Name =item.Full_Name}) 
            </div>
            </td>
            </tr>
            count++; 
                
        }
    </tbody>
</table>



